# Exploration

In [31]:
import pandas as pd

In [32]:
df = pd.read_csv("fake_employee.csv")
df.head()

,employee_id,name,gender,dates_of_birth,email,phone_number,address,department,job_titles,manager_id,...,education_level,certifications,skills,performance_ratings,work_experience,benefits_enrollment,city,work_hours,employee_status,emergency_contacts
0,6612,Martha Hutchinson,Male,1970-11-14,randy09@example.net,708-895-4293x86180,"5301 Norman Flats Apt. 965\nNorth Darrell, PW ...",Finance,Administrator,10,...,Master's Degree,team,"senior, kitchen, president, call, station",3,Receive determine pass find. Authority laugh r...,"data, cell, people",Hollandberg,9-5,Active,Alicia Payne: 001-469-835-3679x07176
1,4793,Meghan Cervantes,Non-Binary,1992-08-20,matthewsnyder@example.com,001-727-813-2133x30484,"7917 Vincent Trafficway Apt. 254\nHallhaven, D...",Finance,Mental health nurse,8,...,PhD,"whether, some, measure","perhaps, knowledge, officer",4,Prevent meet bill computer upon keep receive. ...,"appear, discover",East Sabrinafurt,9-5,Active,Brandy Lopez: +1-642-314-0561x6900
2,8832,April Hanna,Male,1986-04-17,lwood@example.net,+1-758-402-2437x248,"646 Courtney Hollow\nSouth Marc, LA 67617",Finance,Field seismologist,6,...,PhD,"job, week","tend, official, red",4,Necessary Congress real.,"stop, woman",New Garyfurt,9-5,Active,Craig Rivera: 267.574.5240x08971
3,7044,George Yang,Non-Binary,2001-03-15,ellen93@example.net,001-682-318-3829x45513,"3930 Kelly Wells Apt. 574\nPaulton, OR 22142",Engineering,"Nurse, children's",5,...,PhD,"position, similar","question, their, health, single, whole",2,Yard whose different trade. Free foreign quest...,"product, either",Christophermouth,12-8,On Leave,Lauren Davis: 423.534.7439
4,4498,Joseph Patrick,Male,1998-10-09,patriciacollins@example.net,001-790-812-0148x64174,"0493 Lane Avenue\nSmithburgh, IN 65374",Engineering,Meteorologist,2,...,Bachelor's Degree,"table, seem","how, government, finally, east, strong",4,Agreement tax chair strategy bring kid assume ...,"gas, commercial",South Jamestown,Night Shift,Terminated,Antonio Ferguson: +1-425-489-9331

In [33]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   employee_id          1000 non-null   int64
 1   name                 1000 non-null   object
 2   gender               1000 non-null   object
 3   dates_of_birth       1000 non-null   object
 4   email                1000 non-null   object
 5   phone_number         1000 non-null   object
 6   address              1000 non-null   object
 7   department           1000 non-null   object
 8   job_titles           1000 non-null   object
 9   manager_id           1000 non-null   int64
 10  hire_date            1000 non-null   object
 11  salary               1000 non-null   int64
 12  employment_status    1000 non-null   object
 13  employee_type        1000 non-null   object
 14  education_level      1000 non-null   object
 15  certifications       1000 non-null   object
 16  skills               1000 non-null   object
 17  performance_ratings  1000 non-null   int64
 18  work_experience      1000 non-null   object
 19  benefits_enrollment  1000 non-null   object
 20  city                 1000 non-null   object
 21  work_hours           1000 non-null   object
 22  employee_status      1000 non-null   object
 23  emergency_contacts   1000 non-null   object
dtypes: int64(4), object(20)
memory usage: 187.6+ KB

       employee_id   manager_id         salary  performance_ratings
count  1000.000000  1000.000000    1000.000000          1000.000000
mean   5527.310000     5.454000   81531.299000             2.991000
std    2546.946895     2.837241   23216.141548             1.406021
min    1022.000000     1.000000   40027.000000             1.000000
25%    3351.500000     3.000000   61903.750000             2.000000
50%    5559.000000     5.000000   82902.000000             3.000000
75%    7732.750000     8.000000  101614.750000             4.000000
max    9995.000000    10.000000  119987.000000             5.000000

In [34]:
df["gender"].unique()

array(['Male', 'Non-Binary', 'Female'], dtype=object)

## Column Classification with Anonymization Techniques

###  Personally Identifiable Information (PII)
These fields should be **anonymized in all datasets** to protect privacy.

- `employee_id` â€”  **Hashing** (e.g., SHA256)
- `name` â€”  **Hashing** (or Pseudonymization)
- `email` â€”  **Masking** (e.g., `hidden@domain.com`)
- `phone_number` â€”  **Masking** (e.g., `XXX-XXX-1234`)
- `address` â€”  **Generalization** (e.g., city or region only)
- `dates_of_birth` â€”  **Generalization** (to age or age group, e.g., "30s")
- `emergency_contacts` â€”  **Hashing** or remove entirely

---

###  Quasi-Identifiers (QIDs)
These fields should be **left intact in the PII-only dataset** but **anonymized in the PII + QIDs dataset** to test the privacyâ€“utility trade-off.

- `gender` â€”  **Generalization** (optional: group to 'Male', 'Female', 'Other')
- `city` â€”  **Generalization** (e.g., group cities by region)
- `department` â€”  *Optional anonymization* (low risk in large orgs)
- `job_titles` â€”  **Generalization** (e.g., 'Engineer', 'Manager', etc.)
- `manager_id` â€” **Pseudonymization** (e.g., `MGR001`)
- `hire_date` â€”  **Generalization** (e.g., year or range like 'Before 2015')
- `education_level` â€”  **Generalization** (e.g., 'Undergrad', 'Grad', 'PhD')
- `certifications` â€”  **Generalization** (e.g., by domain or count)

---

###  Utility / Predictive Features
These are **kept as-is**, unless used in optional utility-impact experiments.

- `skills` â€”  *Keep as-is* or count number of skills
- `performance_ratings` â€”  **Randomization** (add Gaussian noise)
- `work_experience` â€”  *Keep as-is* or group into buckets (e.g., 0â€“5 years)
- `benefits_enrollment` â€”  *Keep as-is*
- `work_hours` â€”  *Keep as-is* or categorize (e.g., full-time, part-time)
- `employment_status` â€”  *Keep as-is*
- `employee_type` â€”  *Keep as-is*
- `employee_status` â€”  *Keep as-is*

---

###  Target Variable
- `salary` â€”  *This is the target for prediction; never anonymized.*

# Masking

In [35]:
df_mask = df.copy()  # Preserve full dataset

# Masking phone numbers
df_mask['phone_number_masked'] = df['phone_number'].apply(lambda x: 'XXX-XXX-' + str(x)[-4:])

# Masking email addresses
df_mask['email_masked'] = df['email'].apply(lambda x: 'hidden_' + x.split('@')[-1])

# Generalization

In [36]:
from datetime import datetime
df_gen = df.copy()

# Convert to datetime
df_gen['date_of_birth'] = pd.to_datetime(df['dates_of_birth'], errors='coerce')

# Calculate age
df_gen['age'] = df_gen['date_of_birth'].apply(lambda x: datetime.now().year - x.year if pd.notnull(x) else None)

# Define safe bins that include ALL ages
bin_edges = [0, 20, 30, 40, 50, 60, 70, 120]
age_labels = ['<20', '20s', '30s', '40s', '50s', '60s', '70+']

# Cut into bins safely
df_gen['age_group'] = pd.cut(df_gen['age'], bins=bin_edges, labels=age_labels, right=False)

# df_gen.head()
df_gen[['date_of_birth', 'age', 'age_group']]
# df_gen.isna().sum

    date_of_birth  age age_group
0      1970-11-14   55       50s
1      1992-08-20   33       30s
2      1986-04-17   39       30s
3      2001-03-15   24       20s
4      1998-10-09   27       20s
..            ...  ...       ...
995    2005-06-10   20       20s
996    1971-11-30   54       50s
997    1979-12-19   46       40s
998    2001-08-08   24       20s
999    1958-03-10   67       60s

[1000 rows x 3 columns]

In [37]:
df_gen.isna().sum()

employee_id            0
name                   0
gender                 0
dates_of_birth         0
email                  0
phone_number           0
address                0
department             0
job_titles             0
manager_id             0
hire_date              0
salary                 0
employment_status      0
employee_type          0
education_level        0
certifications         0
skills                 0
performance_ratings    0
work_experience        0
benefits_enrollment    0
city                   0
work_hours             0
employee_status        0
emergency_contacts     0
date_of_birth          0
age                    0
age_group              0
dtype: int64

# Hashing

In [38]:
import hashlib
df_hash = df.copy()  # Preserve full dataset

df_hash['name_hash'] = df['name'].apply(lambda x: hashlib.sha256(x.encode()).hexdigest())
df_hash['employee_id_hash'] = df['employee_id'].apply(lambda x: hashlib.md5(str(x).encode()).hexdigest())
df_hash

,employee_id,name,gender,dates_of_birth,email,phone_number,address,department,job_titles,manager_id,...,skills,performance_ratings,work_experience,benefits_enrollment,city,work_hours,employee_status,emergency_contacts,name_hash,employee_id_hash
0,6612,Martha Hutchinson,Male,1970-11-14,randy09@example.net,708-895-4293x86180,"5301 Norman Flats Apt. 965\nNorth Darrell, PW ...",Finance,Administrator,10,...,"senior, kitchen, president, call, station",3,Receive determine pass find. Authority laugh r...,"data, cell, people",Hollandberg,9-5,Active,Alicia Payne: 001-469-835-3679x07176,6a1b015a47088917ec497ef51b5016d924e17734798e38...,d37eb50d868361ea729bb4147eb3c1d8
1,4793,Meghan Cervantes,Non-Binary,1992-08-20,matthewsnyder@example.com,001-727-813-2133x30484,"7917 Vincent Trafficway Apt. 254\nHallhaven, D...",Finance,Mental health nurse,8,...,"perhaps, knowledge, officer",4,Prevent meet bill computer upon keep receive. ...,"appear, discover",East Sabrinafurt,9-5,Active,Brandy Lopez: +1-642-314-0561x6900,9ba09996bc6c867c9547e28a65bf9fc7c1df5949523dd4...,b28d8e3ccb1ff9d46fa2d9e70222c9e7
2,8832,April Hanna,Male,1986-04-17,lwood@example.net,+1-758-402-2437x248,"646 Courtney Hollow\nSouth Marc, LA 67617",Finance,Field seismologist,6,...,"tend, official, red",4,Necessary Congress real.,"stop, woman",New Garyfurt,9-5,Active,Craig Rivera: 267.574.5240x08971,47db4d0a589ed0f170885ce128009e49200131eec4ddd4...,060fd70a06ead2e1079d27612b84aff4
3,7044,George Yang,Non-Binary,2001-03-15,ellen93@example.net,001-682-318-3829x45513,"3930 Kelly Wells Apt. 574\nPaulton, OR 22142",Engineering,"Nurse, children's",5,...,"question, their, health, single, whole",2,Yard whose different trade. Free foreign quest...,"product, either",Christophermouth,12-8,On Leave,Lauren Davis: 423.534.7439,78bf4d5ba2e53e63c569c42859765b78dfb6f37feacd9a...,782086acbe9f48126642e093bf6ba151
4,4498,Joseph Patrick,Male,1998-10-09,patriciacollins@example.net,001-790-812-0148x64174,"0493 Lane Avenue\nSmithburgh, IN 65374",Engineering,Meteorologist,2,...,"how, government, finally, east, strong",4,Agreement tax chair strategy bring kid assume ...,"gas, commercial",South Jamestown,Night Shift,Terminated,Antonio Ferguson: +1-425-489-9331,f4cae8542f2d9c20e7efbf54d3a76c2067ff0982e19858...,6f3a770e5af1fd4cadc5f004b81e1040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9044,Sandra Carpenter,Female,2005-06-10,william72@example.org,591.823.6268,85384 Sullivan Manors Apt. 877\nNorth Scottbur...,IT,Hydrogeologist,5,...,"week, with, character, source",4,Interesting similar child. Here piece management.,surface,Nicholasburgh,12-8,Active,Joseph Willis: 001-520-862-0025x48408,db06033bfbfb59a509f8cf16f44079f693b6dc43dc82a5...,caaeb10544b465034f389991efc90877
996,3027,Jackie Church,Male,1971-11-30,morenowyatt@example.net,(640)334-0503,"71547 Heather Summit Suite 814\nPort Melinda, ...",HR,"Accountant, chartered public finance",10,...,"level, price, measure, nor",2,History few news nature agent need human. Vote...,"floor, history",East Michael,12-8,Active,Dawn Wright: 001-650-318-1070,c99aa8c15fc0f3f9dd354a08f318dd879d705ac1e40bb5...,b922ede9c9eb9eabec1c1fecbdecb45d
997,3573,Maria Watson,Non-Binary,1979-12-19,chale@example.org,(398)901-9136,"1218 Gonzales Loop\nNorth Christineborough, WI...",HR,Pension scheme manager,2,...,"relate, like, production",5,Future benefit quite someone. Half among under...,usually,Heathertown,12-8,Active,Trevor Spencer: 882.361.6741,229bd737a2c7ece0fdbc8340500ec5b0a6490871dc87af...,8baca01b732cf56f7ce83df216514363
998,2062,Damon Taylor,Female,2001-08-08,sharris@example.net,451.687.5692x867,"002 Ward Locks\nNorth Kimberly, VI 98935",Marketing,"Editor, magazine features",9,...,"budget, we, high, industry",4,Consider prevent knowledge unit beautiful hold...,"media, shake, treat",West Beverly,12-8,Active,Marilyn Arias: 902-310-6452x4033,1a73ad681f37f0165e6d980e3c87de32c38260b3918b28...,2d405b367158e3f12d7c1e31a96b3af3
999,4924,Jessica Ochoa,Non-Binary,1958-03-10,kyle98@example.net,670.699.6770x9449,922 Patricia Mountains Apt. 922\nBrittneyburgh...,Engineering,Corporate treasurer,6,...,"usually, specific, room",2,Some mother safe. Seat near model red believe ...,others,Gregorymouth,9-5,On Leave,Robert Vasquez: 502.207.8133,1ef32508d79304f1379f6283a3d92220a422ee03c50d29...,427e3427c5f38a41bb9cb26525b22fba

# Pseudonymization

In [39]:
import numpy as np
df_pseudo = df.copy()  # Preserve full dataset

# Create a mapping for pseudonyms
unique_managers = df['manager_id'].unique()
pseudo_ids = ['MGR' + str(i).zfill(3) for i in range(len(unique_managers))]
manager_map = dict(zip(unique_managers, pseudo_ids))

df_pseudo['manager_pseudo'] = df['manager_id'].map(manager_map)
df_pseudo

,employee_id,name,gender,dates_of_birth,email,phone_number,address,department,job_titles,manager_id,...,certifications,skills,performance_ratings,work_experience,benefits_enrollment,city,work_hours,employee_status,emergency_contacts,manager_pseudo
0,6612,Martha Hutchinson,Male,1970-11-14,randy09@example.net,708-895-4293x86180,"5301 Norman Flats Apt. 965\nNorth Darrell, PW ...",Finance,Administrator,10,...,team,"senior, kitchen, president, call, station",3,Receive determine pass find. Authority laugh r...,"data, cell, people",Hollandberg,9-5,Active,Alicia Payne: 001-469-835-3679x07176,MGR000
1,4793,Meghan Cervantes,Non-Binary,1992-08-20,matthewsnyder@example.com,001-727-813-2133x30484,"7917 Vincent Trafficway Apt. 254\nHallhaven, D...",Finance,Mental health nurse,8,...,"whether, some, measure","perhaps, knowledge, officer",4,Prevent meet bill computer upon keep receive. ...,"appear, discover",East Sabrinafurt,9-5,Active,Brandy Lopez: +1-642-314-0561x6900,MGR001
2,8832,April Hanna,Male,1986-04-17,lwood@example.net,+1-758-402-2437x248,"646 Courtney Hollow\nSouth Marc, LA 67617",Finance,Field seismologist,6,...,"job, week","tend, official, red",4,Necessary Congress real.,"stop, woman",New Garyfurt,9-5,Active,Craig Rivera: 267.574.5240x08971,MGR002
3,7044,George Yang,Non-Binary,2001-03-15,ellen93@example.net,001-682-318-3829x45513,"3930 Kelly Wells Apt. 574\nPaulton, OR 22142",Engineering,"Nurse, children's",5,...,"position, similar","question, their, health, single, whole",2,Yard whose different trade. Free foreign quest...,"product, either",Christophermouth,12-8,On Leave,Lauren Davis: 423.534.7439,MGR003
4,4498,Joseph Patrick,Male,1998-10-09,patriciacollins@example.net,001-790-812-0148x64174,"0493 Lane Avenue\nSmithburgh, IN 65374",Engineering,Meteorologist,2,...,"table, seem","how, government, finally, east, strong",4,Agreement tax chair strategy bring kid assume ...,"gas, commercial",South Jamestown,Night Shift,Terminated,Antonio Ferguson: +1-425-489-9331,MGR004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9044,Sandra Carpenter,Female,2005-06-10,william72@example.org,591.823.6268,85384 Sullivan Manors Apt. 877\nNorth Scottbur...,IT,Hydrogeologist,5,...,something,"week, with, character, source",4,Interesting similar child. Here piece management.,surface,Nicholasburgh,12-8,Active,Joseph Willis: 001-520-862-0025x48408,MGR003
996,3027,Jackie Church,Male,1971-11-30,morenowyatt@example.net,(640)334-0503,"71547 Heather Summit Suite 814\nPort Melinda, ...",HR,"Accountant, chartered public finance",10,...,"study, election, game","level, price, measure, nor",2,History few news nature agent need human. Vote...,"floor, history",East Michael,12-8,Active,Dawn Wright: 001-650-318-1070,MGR000
997,3573,Maria Watson,Non-Binary,1979-12-19,chale@example.org,(398)901-9136,"1218 Gonzales Loop\nNorth Christineborough, WI...",HR,Pension scheme manager,2,...,"nice, reason, plan","relate, like, production",5,Future benefit quite someone. Half among under...,usually,Heathertown,12-8,Active,Trevor Spencer: 882.361.6741,MGR004
998,2062,Damon Taylor,Female,2001-08-08,sharris@example.net,451.687.5692x867,"002 Ward Locks\nNorth Kimberly, VI 98935",Marketing,"Editor, magazine features",9,...,"receive, product, create","budget, we, high, industry",4,Consider prevent knowledge unit beautiful hold...,"media, shake, treat",West Beverly,12-8,Active,Marilyn Arias: 902-310-6452x4033,MGR009
999,4924,Jessica Ochoa,Non-Binary,1958-03-10,kyle98@example.net,670.699.6770x9449,922 Patricia Mountains Apt. 922\nBrittneyburgh...,Engineering,Corporate treasurer,6,...,happy,"usually, specific, room",2,Some mother safe. Seat near model red believe ...,others,Gregorymouth,9-5,On Leave,Robert Vasquez: 502.207.8133,MGR002

# Randomization

In [40]:
import numpy as np
df_rand = df.copy()  # Preserve full dataset

# Add Gaussian noise
np.random.seed(42)
df_rand['performance_ratings_noisy'] = df['performance_ratings'] + np.random.normal(0, 0.5, df.shape[0])
df_rand['performance_ratings_noisy'] = df_rand['performance_ratings_noisy'].clip(1, 5)
df_rand

,employee_id,name,gender,dates_of_birth,email,phone_number,address,department,job_titles,manager_id,...,certifications,skills,performance_ratings,work_experience,benefits_enrollment,city,work_hours,employee_status,emergency_contacts,performance_ratings_noisy
0,6612,Martha Hutchinson,Male,1970-11-14,randy09@example.net,708-895-4293x86180,"5301 Norman Flats Apt. 965\nNorth Darrell, PW ...",Finance,Administrator,10,...,team,"senior, kitchen, president, call, station",3,Receive determine pass find. Authority laugh r...,"data, cell, people",Hollandberg,9-5,Active,Alicia Payne: 001-469-835-3679x07176,3.248357
1,4793,Meghan Cervantes,Non-Binary,1992-08-20,matthewsnyder@example.com,001-727-813-2133x30484,"7917 Vincent Trafficway Apt. 254\nHallhaven, D...",Finance,Mental health nurse,8,...,"whether, some, measure","perhaps, knowledge, officer",4,Prevent meet bill computer upon keep receive. ...,"appear, discover",East Sabrinafurt,9-5,Active,Brandy Lopez: +1-642-314-0561x6900,3.930868
2,8832,April Hanna,Male,1986-04-17,lwood@example.net,+1-758-402-2437x248,"646 Courtney Hollow\nSouth Marc, LA 67617",Finance,Field seismologist,6,...,"job, week","tend, official, red",4,Necessary Congress real.,"stop, woman",New Garyfurt,9-5,Active,Craig Rivera: 267.574.5240x08971,4.323844
3,7044,George Yang,Non-Binary,2001-03-15,ellen93@example.net,001-682-318-3829x45513,"3930 Kelly Wells Apt. 574\nPaulton, OR 22142",Engineering,"Nurse, children's",5,...,"position, similar","question, their, health, single, whole",2,Yard whose different trade. Free foreign quest...,"product, either",Christophermouth,12-8,On Leave,Lauren Davis: 423.534.7439,2.761515
4,4498,Joseph Patrick,Male,1998-10-09,patriciacollins@example.net,001-790-812-0148x64174,"0493 Lane Avenue\nSmithburgh, IN 65374",Engineering,Meteorologist,2,...,"table, seem","how, government, finally, east, strong",4,Agreement tax chair strategy bring kid assume ...,"gas, commercial",South Jamestown,Night Shift,Terminated,Antonio Ferguson: +1-425-489-9331,3.882923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,9044,Sandra Carpenter,Female,2005-06-10,william72@example.org,591.823.6268,85384 Sullivan Manors Apt. 877\nNorth Scottbur...,IT,Hydrogeologist,5,...,something,"week, with, character, source",4,Interesting similar child. Here piece management.,surface,Nicholasburgh,12-8,Active,Joseph Willis: 001-520-862-0025x48408,3.859450
996,3027,Jackie Church,Male,1971-11-30,morenowyatt@example.net,(640)334-0503,"71547 Heather Summit Suite 814\nPort Melinda, ...",HR,"Accountant, chartered public finance",10,...,"study, election, game","level, price, measure, nor",2,History few news nature agent need human. Vote...,"floor, history",East Michael,12-8,Active,Dawn Wright: 001-650-318-1070,2.898843
997,3573,Maria Watson,Non-Binary,1979-12-19,chale@example.org,(398)901-9136,"1218 Gonzales Loop\nNorth Christineborough, WI...",HR,Pension scheme manager,2,...,"nice, reason, plan","relate, like, production",5,Future benefit quite someone. Half among under...,usually,Heathertown,12-8,Active,Trevor Spencer: 882.361.6741,5.000000
998,2062,Damon Taylor,Female,2001-08-08,sharris@example.net,451.687.5692x867,"002 Ward Locks\nNorth Kimberly, VI 98935",Marketing,"Editor, magazine features",9,...,"receive, product, create","budget, we, high, industry",4,Consider prevent knowledge unit beautiful hold...,"media, shake, treat",West Beverly,12-8,Active,Marilyn Arias: 902-310-6452x4033,3.714411
999,4924,Jessica Ochoa,Non-Binary,1958-03-10,kyle98@example.net,670.699.6770x9449,922 Patricia Mountains Apt. 922\nBrittneyburgh...,Engineering,Corporate treasurer,6,...,happy,"usually, specific, room",2,Some mother safe. Seat near model red believe ...,others,Gregorymouth,9-5,On Leave,Robert Vasquez: 502.207.8133,2.286291

In [41]:
# Dataset 1: Original (minimal cleaning, drop only name/email if you want)
df_original = df.copy()
df_original.drop(columns=['name', 'email'], inplace=True)  # optional

# Dataset 2: PII anonymized
df_pii = df.copy()
# Add PII anonymized columns
df_pii['phone_number_masked'] = df_mask['phone_number_masked']
df_pii['email_masked'] = df_mask['email_masked']
df_pii['name_hash'] = df_hash['name_hash']
df_pii['employee_id_hash'] = df_hash['employee_id_hash']
df_pii['age_group'] = df_gen['age_group']
df_pii.drop(columns=['name', 'email', 'phone_number', 'employee_id', 'dates_of_birth'], inplace=True)

# Dataset 3: PII + QID anonymized
df_pii_qid = df_pii.copy()
df_pii_qid['manager_pseudo'] = df_pseudo['manager_pseudo']
df_pii_qid['performance_ratings_noisy'] = df_rand['performance_ratings_noisy']
# Add any QID generalization like job_titles and city here:
# e.g., df_pii_qid['job_title_group'] = your_generalization_function(df['job_titles'])
# Drop original columns you generalized/anonymized:
df_pii_qid.drop(columns=['manager_id', 'performance_ratings', 'job_titles', 'city'], inplace=True)

In [45]:
import re

def keep_alpha_prefix(postal):
    if not isinstance(postal, str):
        return 'Unknown'
    match = re.match(r'^[A-Za-z]+', postal)
    return match.group(0) if match else 'Unknown'

df_pii['postal_code'] = df_pii['address'].apply(lambda x: x.split(',')[-1].strip() if isinstance(x, str) else 'Unknown')
df_pii['postal_code_prefix'] = df_pii['postal_code'].apply(keep_alpha_prefix)
df_pii['address'] = df_pii['postal_code_prefix']
df_pii.drop(columns=['postal_code', 'postal_code_prefix'], inplace=True)
df_pii

,gender,address,department,job_titles,manager_id,hire_date,salary,employment_status,employee_type,education_level,...,benefits_enrollment,city,work_hours,employee_status,emergency_contacts,phone_number_masked,email_masked,name_hash,employee_id_hash,age_group
0,Male,PW,Finance,Administrator,10,2023-04-06,77367,Part-time,Regular,Master's Degree,...,"data, cell, people",Hollandberg,9-5,Active,Alicia Payne: 001-469-835-3679x07176,XXX-XXX-6180,hidden_example.net,6a1b015a47088917ec497ef51b5016d924e17734798e38...,d37eb50d868361ea729bb4147eb3c1d8,50s
1,Non-Binary,DE,Finance,Mental health nurse,8,2022-05-26,81869,Full-time,Temporary,PhD,...,"appear, discover",East Sabrinafurt,9-5,Active,Brandy Lopez: +1-642-314-0561x6900,XXX-XXX-0484,hidden_example.com,9ba09996bc6c867c9547e28a65bf9fc7c1df5949523dd4...,b28d8e3ccb1ff9d46fa2d9e70222c9e7,30s
2,Male,LA,Finance,Field seismologist,6,2020-06-11,97907,Part-time,Temporary,PhD,...,"stop, woman",New Garyfurt,9-5,Active,Craig Rivera: 267.574.5240x08971,XXX-XXX-x248,hidden_example.net,47db4d0a589ed0f170885ce128009e49200131eec4ddd4...,060fd70a06ead2e1079d27612b84aff4,30s
3,Non-Binary,OR,Engineering,"Nurse, children's",5,2020-11-25,110034,Part-time,Regular,PhD,...,"product, either",Christophermouth,12-8,On Leave,Lauren Davis: 423.534.7439,XXX-XXX-5513,hidden_example.net,78bf4d5ba2e53e63c569c42859765b78dfb6f37feacd9a...,782086acbe9f48126642e093bf6ba151,20s
4,Male,IN,Engineering,Meteorologist,2,2021-01-12,70091,Contractor,Contract,Bachelor's Degree,...,"gas, commercial",South Jamestown,Night Shift,Terminated,Antonio Ferguson: +1-425-489-9331,XXX-XXX-4174,hidden_example.net,f4cae8542f2d9c20e7efbf54d3a76c2067ff0982e19858...,6f3a770e5af1fd4cadc5f004b81e1040,20s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Female,LA,IT,Hydrogeologist,5,2022-10-14,85160,Part-time,Regular,PhD,...,surface,Nicholasburgh,12-8,Active,Joseph Willis: 001-520-862-0025x48408,XXX-XXX-6268,hidden_example.org,db06033bfbfb59a509f8cf16f44079f693b6dc43dc82a5...,caaeb10544b465034f389991efc90877,20s
996,Male,NH,HR,"Accountant, chartered public finance",10,2020-10-07,109359,Part-time,Regular,PhD,...,"floor, history",East Michael,12-8,Active,Dawn Wright: 001-650-318-1070,XXX-XXX-0503,hidden_example.net,c99aa8c15fc0f3f9dd354a08f318dd879d705ac1e40bb5...,b922ede9c9eb9eabec1c1fecbdecb45d,50s
997,Non-Binary,WI,HR,Pension scheme manager,2,2020-09-04,70527,Contractor,Temporary,Associate Degree,...,usually,Heathertown,12-8,Active,Trevor Spencer: 882.361.6741,XXX-XXX-9136,hidden_example.org,229bd737a2c7ece0fdbc8340500ec5b0a6490871dc87af...,8baca01b732cf56f7ce83df216514363,40s
998,Female,VI,Marketing,"Editor, magazine features",9,2019-08-03,45389,Full-time,Regular,High School,...,"media, shake, treat",West Beverly,12-8,Active,Marilyn Arias: 902-310-6452x4033,XXX-XXX-x867,hidden_example.net,1a73ad681f37f0165e6d980e3c87de32c38260b3918b28...,2d405b367158e3f12d7c1e31a96b3af3,20s
999,Non-Binary,OH,Engineering,Corporate treasurer,6,2023-07-12,64225,Full-time,Regular,Associate Degree,...,others,Gregorymouth,9-5,On Leave,Robert Vasquez: 502.207.8133,XXX-XXX-9449,hidden_example.net,1ef32508d79304f1379f6283a3d92220a422ee03c50d29...,427e3427c5f38a41bb9cb26525b22fba,60s